<div class="card bg-<%= list.color %> list-tasks">
  <div class="card-body">
    <h5 class="card-title d-flex flex-row justify-content-between">
      <%= link_to list.name, list %>
      <div>
        <%= link_to icon('fa-regular', 'pen-to-square'),
          edit_list_path(list, board_id: list.board) %>
        <%= link_to icon('fa-solid', 'trash'),
          list_path(list, board_id: list.board), method: :delete,
          data: {confirm: "Are you sure?"} %>
      </div>
    </h5>
    <h6 class="card-subtitle mb-2 text-light">
      Priority: <%= list.priority %>
    </h6>
    <p class="card-text">
      <%= link_to 'New Task', new_list_task_path(list), class: 'btn btn-success boder border-dark'%>
      <% list.tasks.each do |task|%>
        <div class="card border border-dark mb-1 p-1 d-flex flex-row justify-content-between">
          <div>
            <%= link_to task.title, task_path(task) %>
          </div>
          <div>
            <%= link_to icon('fa-solid', 'pen-to-square'),
              edit_task_path(task) %>
            <%= link_to icon('fa-solid', 'trash'),
              task_path(task), method: :delete,
              data: {confirm: "Are you sure?"} %>
          </div>
        </div>
      <% end %>
    </p>
  </div>
</div>
