<h1>Lista: <%= @list.name %></h1>

<%= link_to 'Create New Task', new_list_task_path, class: "btn btn-success mb-3"%>
<%= link_to 'Return', board_lists_path(@list.board_id), class: 'btn btn-outline-secondary mb-3'%>

<% @tasks.each do |task| %>
  <%= render 'card', task: task %>
  <div>
    <%= link_to 'Delete', task_path(task), method: :delete, data: {confirm: "Are you sure?"}, class:'btn btn-danger'%>
    <%= link_to 'Show', task_path(task), class:'btn btn-outline-info'%>
  </div>
<% end %>
