<div class="card mt-4">
  <div class="card-header">
    Anonymous
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @task.title %></h5>
    <p class="card-text"><%= @task.details %></p>
    <%= link_to 'Edit', edit_task_path(@task), class:'btn btn-outline-info'%>
    <%= link_to 'Delete', task_path(@task), method: :delete, data: {confirm: "Are you sure?"}, class:'btn btn-outline-danger'%>
    <%= link_to 'Start Task', '#', class:'btn btn-outline-primary'%>
  </div>
  <div class="card-footer">
      <small class="text-muted">
        <b>Created at: </b><%= @task.created_at%> |
        <b>Edited at: </b> <%= @task.updated_at%>
      </small>
    </div>
</div>

<%= link_to 'Go back', tasks_path%>
